.nav {
  position: relative;
}

.list {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: clamp(1.5rem, 1.85vw, 2.6rem);
}

.item {
  position: relative;
  font-size: clamp(1.6rem, 1.2vw, 1.7rem);
  font-weight: 700;
  line-height: 1.2;
  color: var(--cl-text-dark);
  padding: 0.5rem 0;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.item::after {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80%;
  height: 0.2rem;
  background: var(--cl-secondary);
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.item:hover,
.item:focus-visible {
  color: var(--cl-primary);
}

.item:hover::after,
.item:focus-visible::after {
  transform: scaleX(1);
}

.sublist {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--cl-background);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.sublist_item {
  position: relative;
}

.sublist_link {
  position: relative;
}
