.burger {
  display: grid;
  place-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 40% 0 40% 0;
  border: none;
  color: #fff;
  background-color: var(--cl-secondary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  transition: background 0.2s ease, box-shadow 0.2s ease;
}

.burger:hover,
.burger:focus-visible {
  background-color: var(--cl-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.burger svg {
  width: 50%;
  aspect-ratio: 1 / 1;
  fill: currentColor;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  padding: 0;
  background-color: transparent;
  color: var(--cl-text-light);
  border: none;
  transition: color 0.2s ease;
}

.close:hover,
.close:focus-visible {
  color: var(--cl-primary);
}

.close svg {
  width: 3rem;
  height: 3rem;
  fill: currentColor;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  padding: 5rem 0;
  background: #fff;
  margin-left: auto;
}

.nav,
.list {
  width: 100%;
}

.list > * + * {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.list > li {
  width: 100%;
  padding: 1.5rem 2rem;
}

.list > li > a {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--cl-text-dark);
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.list > li > a:hover,
.list > li > a:focus-visible {
  color: var(--cl-primary);
}
