.burger {
  display: grid;
  place-items: center;
  width: 4.4rem;
  height: 4.4rem;
  border-radius: 40% 0 40% 0;
  color: #fff;
  background-color: var(--cl-secondary);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.12);
  transition: background 0.2s ease, box-shadow 0.2s ease;
}

.burger:hover,
.burger:focus-visible {
  background-color: var(--cl-primary);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.burger svg {
  width: 50%;
  aspect-ratio: 1 / 1;
  fill: currentColor;
}

.close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 3rem;
  padding: 0;
  background-color: transparent;
  color: var(--cl-text-light);
  transition: color 0.2s ease;
}

.close:hover,
.close:focus-visible {
  color: var(--cl-primary);
}

.close svg {
  width: 3rem;
  height: 3rem;
  fill: currentColor;
}

.wrapper {
  position: relative;
  width: 100%;
  max-width: 30rem;
  height: 100%;
  padding: 5rem 0;
  background: #fff;
  margin-left: auto;
}

.nav,
.list {
  width: 100%;
}

.list > * + * {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.item {
  width: 100%;
  padding: 1.5rem 2rem;
}

.link {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--cl-text-dark);
  text-transform: uppercase;
  transition: color 0.2s ease;
}

.link:hover,
.link:focus-visible {
  color: var(--cl-primary);
}

.sublist {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background: var(--cl-background);
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.sublist_item {
  position: relative;
}

.sublist_link {
  position: relative;
}
