.content {
  padding: clamp(4rem, 7.14vw, 10rem) 2.5vw clamp(8rem, 14.28vw, 20rem);
  margin: 0 auto;
  max-width: 80ch;
  min-height: 60vh;
  color: var(--cl-text-dark);
}

.inner h2,
.inner h3,
.inner h4,
.inner h5,
.inner h6 {
  color: #333;
}

.inner p {
  padding: 0.5rem 0;
  line-height: 1.5;
}

.inner img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.inner a {
  color: var(--cl-secondary);
  font-weight: 800;
  transition: 0.2s color ease;
}

.inner a:hover,
.inner a:focus-visible {
  color: var(--cl-primary);
}
